<%= form_with(model: [@small_purpose, @growth_report], local: true) do |f| %>
<%= render '/layouts/error_messages', model: f.object %>

  <div class="form-group">
    <!-- 回数の入力を助けるための機能 -->
    <% max_growth_report = @small_purpose.growth_reports.maximum(:count) %>
    <% if max_growth_report == nil %>
      <% ex_count = 1 %>
    <% else %>
      <% ex_count = max_growth_report + 1 %>
    <% end %>
    
    <%= f.label :count, '回数' %>
    <%= f.number_field :count, class: 'form-control', value: ex_count %>
  </div>
  
  <div class="form-group">
    <%= f.label :amount, '成長度' %>
    <%= f.number_field :amount, class: 'form-control',value: @small_purpose.growth_reports.maximum(:amount) + 5 %>
  </div>
  
  <%= f.submit '完了', class: 'btn btn-primary btn-block'  %>
  
<% end %>