<h1 class = "text-center" ><%= @user.name %>の詳細ページ</h1>

<table class="mt-4 table table-bordered table-condensed">
    <tr>
        <th class="text-center">名前</th>
        <td class="text-center"><%= @user.name %></td>
    </tr>
    
    <tr>
        <th class="text-center">メールアドレス</th>
        <td class="text-center"><%= @user.email %></td>
    </tr>
    
    <tr>
        <th class="text-center">登録日</th>
        <td class="text-center"><%= @user.created_at %></td>
    </tr>
    
    <tr>
        <th class="text-center">達成した目標数</th>
        <td class="text-center bg-warning">保留中</td>
    </tr>
</table>

<div class="text-center">
    <%= link_to '編集' , edit_user_path(@user), class: 'btn btn-primary' %>
</div>