
<div>
  <h1 class="text-center"><%= @small_purpose.title %></h1>
  <h2 class="text-center">期限 : <%= @small_purpose.time_limit %></h2> 
  
</div>

<div class="row">
  <div class="col-sm-12">
    <canvas id="myChart" width="200" height="100"></canvas>
      <script>
      var ctx = document.getElementById('myChart').getContext('2d');
      var myChart = new Chart(ctx, {
          type: 'bar',
          data: {
              labels: [
                  <% @time_reports.each do |time_report| %>
                    '<%= time_report.played_date %>',
                  <% end %>
                  ],
              datasets: [{
                  label: '',
                  data: [
                    <% @time_reports.each do |time_report| %>
                      <%= time_report.played_time %>,
                    <% end %>
                    ],
                  backgroundColor:
                      'rgba(255, 99, 132, 0.2)',
                  borderColor:  
                      'rgba(255, 99, 132, 1)',
                  borderWidth: 1
              }]
          },
          options: {
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero: true
                      }
                  }]
              }
          }
      });
      </script>
      <%= link_to '実行時間入力', new_small_purpose_time_report_path(@small_purpose), class:'btn btn-primary btn-block' %>
      <!-- <!%= link_to '実行時間編集', edit_small_purpose_time_report_path(@small_purpose, @time_report), class:'btn btn-success btn-block mb-2' %> -->
  </div>

  <div class="col-sm-12 mt-4">
    <div class="row">
      <div class="col-sm-12">
        <canvas id="myLineChart" width="200" height="100"></canvas>
        <script>
          var ctx = document.getElementById("myLineChart");
          var myLineChart = new Chart(ctx, {
            type: 'line',
            data: {

              labels: [
                <% @growth_reports.each do |growth_report| %>
                  '<%= growth_report.count %>',
                <% end %>
                ],
              datasets: [
                {
                  label: '',
                  data: [
                    <% @growth_reports.each do |growth_report| %>
                      <%= growth_report.amount %>,
                    <% end %>
                    ],
                  borderColor: "rgba(255,0,0,1)",
                  backgroundColor: "rgba(0,0,0,0)"
                }
              ],
            },
            options: {
              title: {
                display: true,
                text: ''
              },
              scales: {
                yAxes: [{
                  ticks: {
                    suggestedMax: 40,
                    suggestedMin: 0,
                    stepSize: 10,
                    callback: function(value, index, values){
                      return  value
                    }
                  }
                }]
              },
            }
          });
        </script>
        <%= link_to '成長度入力', new_small_purpose_growth_report_path(@small_purpose), class:'btn btn-primary btn-block mt-4' %>
        <!-- <!%= link_to '成長度編集', edit_small_purpose_growth_report_path(@small_purpose, @growth_report), class:'btn btn-success btn-block mb-2' %> -->
      </div>
  </div>
  <%= link_to '一覧に戻る', big_purpose_small_purposes_path(@big_purpose), class:'btn btn-secondary btn-block mt-5' %>
</div>
