<% if @big_purposes.any? %>
  <div class="text-center">
      <h1>大目標一覧</h1>
  </div>
  
  <table class="table table-borderd table-striped mt-4">
      <thead>
          <tr>
              <th class="text-center">目標名</th>
              <th class="text-center">開始日</th>
              <th class="text-center">期限</th>
              <th class="text-center">編集ボタン</th>
          </tr>
      </thead>
      <tbody>
          <% @big_purposes.each do |big_purpose| %>
            <tr>
              <td class="text-center"><%= link_to big_purpose.title, big_purpose_path(big_purpose.id) %></td>
              <td class="text-center"><%= big_purpose.created_at %></td>
              <td class="text-center"><%= big_purpose.time_limit %></td>
              
              <td class="text-center">
                  <%= link_to '達成', [ :finish, big_purpose ], :method => :put, data: { confirm: '一度達成すると戻すことはできませんがよろしいでしょうか?'}, class: ' btn btn-info ' %>
                  <%= link_to '編集', edit_big_purpose_path(big_purpose), class: ' btn btn-success ' %>
              </td>
            </tr>
          <% end %>
      </tbody>
  </table>
  <%= link_to '新規作成', new_big_purpose_path, class:'btn btn-primary btn-block' %>
<% else %>
  <h1 class='text-center'>ようこそ!大目標を作成しよう!</h1>
  <%= link_to '新規作成', new_big_purpose_path, class:'btn btn-primary btn-block mt-4' %>
<% end %>
